<div class="preloader" #loaderContainer>
  <div class="preloader__content">
    <div class="preloader__logo">
      <h1>TAC <span class="text-gradient">LASER</span></h1>
    </div>
    
    <div class="preloader__bar-container">
      <div class="preloader__bar" #progressBar>
        <div class="laser-dot"></div>
      </div>
    </div>
    
    <div class="preloader__status">
      <span class="preloader__text">INITIALIZING SYSTEMS</span>
      <span class="preloader__percentage" #progressText>0%</span>
    </div>
  </div>
</div>
